<% var data = {
title: "OkoloJS",
author: "Danil X"
}; %>


<!DOCTYPE html>
<html lang="ru">
<head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
</head>
<body>


<%= _.template(require('html-loader!./../includes/header.html'))(data) %>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Тесты OkoloJS</h2>
                <p>Тестируем</p>
            </div>

            <div class="col col-md-12">111

                    <button class="btn">test</button>

            </div>
        </div>
    </div>
</section>


<%= _.template(require('html-loader!./../includes/footer.html'))(data) %>

</body>
</html>