<% var data = {
title: "Инфо",
author: "Danil X"
}; %>


<!DOCTYPE html>
<html lang="ru">
<head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
</head>
<body>


<%= _.template(require('html-loader!./../includes/header.html'))(data) %>

<section >
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="logo  logo--title">
                    <img src="img/logoBW.svg" class="img-fluid logo__img logo__img--subtitle">
                    <span class="logo__desc logo__desc--small logo__desc--subtitle"> <%= data.title %> </span>
                </div>

                <p>Основная информация о нас.</p>

                <ul>
                    <li><a href="#rulesTitle">Правила нашего чата</a></li>
                    <li><a href="#faqTitle">FAQ - список вопросов</a></li>
                    <li><a href="#howToSearchTagsTitle">Как искать по тегам?</a></li>
                    <li><a href="#tlgtagsTitle">Список тегов в телеграме с описанием</a></li>
                    <li><a href="#helpTitle">Помощь проекту</a></li>
                    <li><a href="#contactsTitle">Контакты</a></li>
                    <li><a href="/codewars.html">Инструкция по Codewars</a></li>
                </ul>
                
            </div>
        </div>
    </div>
</section>


<section class="mainBlock infoPage">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr class="mainBlockHR">
            </div>

            <div class="col-12">
                <a id="rulesTitle"></a>
                <div class="logo  logo--title">
                    <img src="img/logoBW.svg" class="img-fluid logo__img logo__img--subtitle">
                    <span class="logo__desc logo__desc--small logo__desc--subtitle"> Правила чата</span>
                </div>
                <p>Простые правила для поддержания комфортной обстановки</p>
                <%= _.template(require('html-loader!./../includes/dbTPL/rules.html'))(data) %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a id="faqTitle"></a>
                <div class="logo  logo--title">
                    <img src="img/logoBW.svg" class="img-fluid logo__img logo__img--subtitle">
                    <span class="logo__desc logo__desc--small logo__desc--subtitle"> F.A.Q.</span>
                </div>
                <%= _.template(require('html-loader!./../includes/dbTPL/faq.html'))(data) %>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a id="howToSearchTagsTitle"></a>
                <div class="logo  logo--title">
                    <img src="img/logoBW.svg" class="img-fluid logo__img logo__img--subtitle">
                    <span class="logo__desc logo__desc--small logo__desc--subtitle"> Как искать по тегам в телеграме?</span>
                </div>
                <p>Для поиска по тегам в телеграме нужно выполнить простое действие - искать так же, как обычным способом (через поиск),
                    либо кликнуть на тег прямо в ленте сообщений (тег должен быть написать через #решетку, тогда он будет подсвечиваться как ссылка).</p>
                <p>Пошагово:
                    <ol>
                        <li>Нажать "поиск" рядом с название канала</li>
                        <li>В строке поиска ввести название тега (с решеткой)</li>
                        <li>В результатах поискать искать нужное сообщение</li>
                    </ol>
                </p>

                <img src="img/tags/tagSearch.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a id="tlgtagsTitle"></a>
                <div class="logo  logo--title">
                    <img src="img/logoBW.svg" class="img-fluid logo__img logo__img--subtitle">
                    <span class="logo__desc logo__desc--small logo__desc--subtitle"> Список тегов в телеграме</span>
                </div>
                <%= _.template(require('html-loader!./../includes/dbTPL/tlgtags.html'))(data) %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a id="helpTitle"></a>
                <div class="logo  logo--title">
                    <img src="img/logoBW.svg" class="img-fluid logo__img logo__img--subtitle">
                    <span class="logo__desc logo__desc--small logo__desc--subtitle"> Help</span>
                </div>
                <p>Помочь проекту можно двумя путями. Первый - делом. Можно взять репозиторий сайта, форкнуть себе и доработать. Задания можно узнать у админов.Второй - материально. Собранные средства пойдут на оплату хостинга для сайта. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a id="contactsTitle"></a>
                <div class="logo  logo--title">
                    <img src="img/logoBW.svg" class="img-fluid logo__img logo__img--subtitle">
                    <span class="logo__desc logo__desc--small logo__desc--subtitle"> Контакты</span>
                </div>
                <p>Пишите к нам в телеграмм канал - <strong>t.me/okolojs</strong>!</p>

                <p>Почта для связи с нами - info@okolojs.ru</p>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('html-loader!./../includes/footer.html'))(data) %>

</body>
</html>