$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;

//@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";
//@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
//@import "~bootstrap/scss/input-group";
//@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
//@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/jumbotron";
//@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
//@import "~bootstrap/scss/media";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/toasts";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
//@import "~bootstrap/scss/spinners";
//@import "~bootstrap/scss/utilities";
//@import "~bootstrap/scss/print";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

html {
  font-size: 20px;
}

body {
  font-family: $font-stack;
  color: #000;
  //#logo {
  //  width: 10rem;
  //}
  //.container {
  //  img {
  //    width: 20rem;
  //  }
  //}
}

header {
  padding-bottom: 1rem;
}

.navbar {
  padding: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}


.logo {
  display: flex;
  align-items: center;
}

logo--title {
  padding-bottom: 2rem;
}

.logo--subtitle {
  padding-bottom: 1rem;
}

.logo__img {
  height: 80px;
  //padding: 0 2px;
}
.logo__img--subtitle {
  height: 50px;
}
.logo__desc {
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
}
.logo__desc--small {
  font-size: 1.5rem;
}

.logo__desc--subtitle {
  padding-left: 0.5rem;
  //text-transform: capitalize;
}



.mainBlockHR {
  border-top: 3px solid #000;
}



//ТРЭНДЫ

.trends {
}

.trend {
  margin-bottom: 1rem;
}

.trend__difficulty {
  color: #888;
  font-size: 0.8rem;
}

.trend__title {
  font-size: 1.2rem;
}

.trend__description {
  color: #565656;
  padding-bottom: 0.5rem;
}
.trend__author {
  font-weight: 500;
}

.trend__status {
  font-style: italic;
}


.rulesList {}
.rulesList li b {
  //font-weight: 500;
}




footer {
  padding-top: 50px;
  text-align: center;
}
